/* Título */
.title {
    font-size: 3.3rem;
    font-weight: 700;
    color: #1F184E;
    margin-bottom: 20px;
}

/* Imagen */
.image {
    width: 80%;
    height: auto;
    max-height: 60vh; /* Evita que sea demasiado grande */
    margin-bottom: 20px;
}

/* Botones */
.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Estilos para pantallas grandes */
@media (min-width: 1024px) { 
    .container {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 10%;
    }

    .title {
        font-size: 3rem;
    }

    .image {
        width: 70%;
        max-height: 30vh;
    }

    .buttons {
        flex-direction: row;
        width: auto;
        gap: 20px;
    }
}